.w-1200 {
    max-width: 1200px;
}

.content {
    background-color: lightsalmon;
    border: 1px solid black;
    height: 400px;
    width: 300px;
}

.blog {
    background-color: lightpink;
    border: 1px solid black;
    height: 400px;
    width: 300px;
}